html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: #cf3838;
}

a:hover {
  color: #ff0000;
}

.marker {
  font-family: 'Permanent Marker', cursive;
}

.underline {
  text-decoration: underline;
}

.inset-shadow {
  -moz-box-shadow: inset 0 0 20px #000000;
  -webkit-box-shadow: inset 0 0 20px #000000;
  box-shadow: inset 0 0 20px #000000;
}


.mh-100 {
  min-height: 100vh;
  
}